.container {
  height: 100%;
  /* ❗️flex에서 height를 100%로 줬을때 list가 많아질 경우 화면을 넘어가버리때 사용? */
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  flex: 1 1 auto;
  overflow-y: auto;
}