.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px;
  background-color: var(--color-bg-dark);
}

.filters {
  /* flex: 1 1 auto; */
  color: var(--color-accent); 
  
}

.filter {
  display: inline-block;
  margin: 0px 6px;
}

.filter_btn {
  color: var(--color-accent);
  text-transform: capitalize;
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.1rem;
  padding: 2px 0;
}

.selected {
  border-bottom: 2px solid var(--color-text);
  opacity: 1;
  
}

.theme_icon {
  font-size: 1.2rem;
}