.container {
  /* height가 이상해 */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 0;
}

.list {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 7px;
}