.list {
  display: flex;
  gap: 5px;
  padding: 5px 0;
  align-items: center;
}

.checkbox {
  width: 17px;
  height: 17px;
  accent-color: var(--color-accent);
  flex-shrink: 0;
}

/* todo 여러줄로 되도록 설정 */
.text {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  color: var(--color-text);
}

.icon {
  width: 20px;
  height: 20px;
  background-color: var(--color-grey);
  border-radius: 100%;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
  transition: all 150ms ease-out;
  flex-shrink: 0;
}

.icon:hover {
  background-color: var(--color-accent);
  transform: rotate(15deg) scale(1.05);
}

.button {
  background: transparent;
  color: rgb(5, 5, 5);
  font-size: 15px;
  vertical-align: middle;
}

.text.completed {
  content: '';
  text-decoration: line-through;
  color: var(--color-grey);
}

